div.a{
 border:1px solid chartreuse;
 height:500px;
 width:300px;
 border-radius:10px;
}
hr{
 margin-left:20px;
 margin-right:20px;
}
h2{
 margin-left:20px;
}
h4{
 margin-left:20px;
}
image{
 margin-left:20px;
}

